html,  body{/*corpo do nosso codigo*/
    background-color: rgb(38, 72, 84); 
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-align: center;
    /* background-color: rgb(13, 89, 114);  */
}

table{
   /* border: 1px solid black;*/
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table.contained {
    margin: 0 15% ;
    width: 70%;
}

tr{
    border-color: black;
    border-bottom: 1px solid rgb(0, 0, 0);
}

th{
    text-align: start;
    background-color: rgb(99, 137, 150);
    padding: 8px 4;
    color: black;
}


tfoot tr{
    border-bottom: 0px;
}

tfoot tr.sum td {
    text-align: right;
}

small{
    color:black;
    font-size: 12px;
}

*{font-family: 'Poppins';}


.w-50{
    width: 50;
}

.w-40{
    width: 40;
}

.edit-cell a {
    text-decoration:none;
    background-color:cadetblue;
    padding: 4px 8px;
    display:inline-block; 
    margin: 2px 0;
    border-radius: 4px;
    color: rgb(255, 255, 255);
   
}
.edit a {
    text-decoration:none;
    background-color:cadetblue;
    padding: 4px 8px;
    display:inline-block; 
    border-radius: 4px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 10px;
}

.edit-cell{
    text-align: right;
}


.edit-cell button {
    display: inline-block;
    
}

.edit a:hover{
    background-color:darkcyan;
    padding: 4px 8px;
}
.edit-cell a:hover{
    background-color:darkcyan;
}

div.container {
    text-align: center;
}

#img{
    border: 10px solid black;
}

#titulos{
    background-color:rgb(99, 137, 150);
    margin: 15px auto;
    display: block;
    padding: 24px;
    border-radius: 4px;
    text-align: center;
    width: 50%;
}
#divti{
   text-align: center;
}


 #form{
    width: 50%;
    height: 50% ;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
 }

#fd{
    text-align: left;
    background-color: rgb(255, 240, 252);
    margin: 10px;
    padding: 10px;
}

.btn{
    border: 0;
    background-color: transparent;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 9px;
}

.btn.btn-success{
    background-color: rgb(101, 123, 125);
}

.btn.btn-success:hover{
    background-color:rgb(49, 93, 159);
}
.btn.btn-success:active{
    background-color: aqua;
}


.btn.btn-warning{
    background-color: rgba(182, 0, 0, 0.419);
}
.btn.btn-warning:hover{
    background-color: rgba(255, 0, 0, 0.419);
}
.btn.btn.btn-warning:active{
    background-color: rgba(0, 182, 161, 0.419);
}


.btn.btn-danger{
    background-color:  rgba(255, 85, 85, 0.419);
}
.btn.btn-danger:hover{
    background-color:rgb(255, 0, 0);
}
.btn.btn-danger:active{
    background-color: rgba(154, 32, 32, 0.419);
}

.btn.salvar{
background-color: rgb(0, 255, 255);
}
.btn.salvar:hover{
    background-color: rgb(24, 56, 56);
}
.btn.salvar:active{
    background-color: rgb(38, 255, 0);
}

#btn-imgcat{
    font-size: 25px;
    width:95px ;
    height:55px;
    margin: 70px auto;    
    color: aliceblue;
    background-color: rgb(16, 49, 49);
    
    border: 0.5px solid white;
    border-radius: 5px;

}
#btn-imgcat:hover{
    color: aliceblue;
    background-color: rgb(57, 146, 119);
}
#btn-imgcat:active{
    color: black;
    background-color:rgb(37, 166, 136)
}
script#API{
    display: flex;
    height: 30px;
    text-align: center;
}

#saidaIMG{
    margin: 15px auto;
}

@media screen and (max-width: 600px) {
    div.container{
        margin: 0 48px;
    }
    div.container a{
        display: block;
        padding: 10px 10px;
    }
}





/*Style id classe  elemento geral=* */

/* p{Paragrafo
    color: aqua;
    margin-top:0;

}
#par-gr{para id
    color: green;
}

.white-tex{para classes
color:red;
} */
